
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Ile Masz Lat?</h2>

<form method="post" action="/Calculator/Result">
    <div class="mb-4">
        <label class="form-label" for="age"> Ile masz Lat?</label>
        <input class="form-control" type ="number" id="age" name="age" step="0.1"/>
    </div>
    <div class="mb-4">
        <label class="form-label" for="imie"> Jak Masz Na Imie?</label>
        <input class="form-control" type ="text" id="name" name="name" step="0.1"/>
    </div>
    <div class="mb-4">
        <input class="btn btn-outline-primary" type ="submit"  value="Oblicz"/>
    </div>
    
</form>
